/* General Reset for Box Sizing */
*,
*::before,
*::after {
 box-sizing: border-box;
}


/* Background Image Styling */
.paper{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -9; /* Ensure it's behind all other content */
 overflow: hidden;
}
.paper {
 width: 100%;
 height: 100%;
 object-fit: cover; /* Prevent stretching */
}

.jeffery,
.jeffery * {
 box-sizing: border-box;
}
.jeffery {
 height: 30rem;
 position: absolute;
 object-fit: cover;
 background: transparent;

 top: 15rem;
 left:25rem
}


.correctfish,
.correctfish {
  box-sizing: border-box;
}
.correctfish {
  width: 8.75rem;
  height: 6.0625rem;
  position: absolute;
  object-fit: cover;
  left: 60rem;
  top: 25rem;
}
