/* General Reset for Box Sizing */
*,
*::before,
*::after {
 box-sizing: border-box;
}


/* Background Image Styling */
.paper{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -9; /* Ensure it's behind all other content */
 overflow: hidden;
}


.paper {
 width: 100%;
 height: 100%;
 object-fit: cover; /* Prevent stretching */
}

.slantarrow
.slantarrow
{
  box-sizing: border-box;}
.slantarrow
 {
  width: 25.06rem;
  height: 11.66375rem;
  position: absolute;
  overflow: hidden;
  top: 25rem;
  left: 45rem
}
.jeffery,
.jeffery * {
  box-sizing: border-box;
}
.jeffery {
  height: 24.0625rem;
  position: relative;
  object-fit: cover;
  width: 25rem;
  top: 17rem;
  left: 5rem;
	height: 25rem;
}


.caption-2,
.caption-2 * {
  box-sizing: border-box;
  width: 32rem;
}

.caption-2 {
 font-family: "Are You Serious";
 font-size: 4rem;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 line-break:auto;
 position: absolute;
 text-align: right;
 top: 8rem;
 right: 3.5rem;

}
.correctfish,
.correctfish * {
  box-sizing: border-box;
}
.correctfish
{
	width: 10rem;
	height: 6.0625rem;
	flex-shrink: 0;
	width: 15rem;
	height: 10rem;
	position: relative;
	top: 12rem;
	left: 35rem;
	object-fit: cover;


}
