.are-you-serious-regular {
	font-family: "Are You Serious", serif;
	font-weight: 400;
	font-style: normal;
 }
 .group-26,
 .group-26 * {
	box-sizing: border-box;
 }
 .group-26 {
	position: relative;
 }
 .meet {
	color: #000;
	background: transparent;
	font-family: "Are You Serious";
	font-size: 72px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 517px;
	height: 150px;
	flex-shrink: 0;
	position: absolute;
  left: 0rem;
  top: 0rem;
  width: 15.875rem;
  height: 9.8125rem;
 }
 .h-1 {
	color: #000;
	font-family: "Are You Serious";
	font-size: 72px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 517px;
	height: 157px;
	flex-shrink: 0;
	position: absolute;
  left: 3.5625rem;
  top: 5rem;
  width: 32.3125rem;
  height: 9.8125rem;
}
/* Background Image Styling */
.paper{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -9; /* Ensure it's behind all other content */
 overflow: hidden;
}


.paper {
 width: 100%;
 height: 100%;
 object-fit: cover; /* Prevent stretching */
}

.slant-arrow
.slant-arrow
{
  box-sizing: border-box;}
.slant-arrow
 {
  height: 10.66375rem;
  position: absolute;
  overflow: hidden;
  top: 35rem;
  left: 60rem
}
.jeffery,
.jeffery * {
  box-sizing: border-box;
}
.jeffery {
	background: transparent;
  height: 35.375rem;
  position: relative;
	box-shadow: #000000 1rem;
  object-fit: cover;
  left:25em;
  top: 10rem;}


  .caption,
  .caption * {
	 box-sizing: border-box;
  }

.caption {
	font-size: 2.25rem;
	font-weight: 400;
	position: relative;
	color: #000;
	font-family: "Are You Serious";
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  position:relative

}


