/* General Reset for Box Sizing */
*,
*::before,
*::after {
 box-sizing: border-box;
}


/* Background Image Styling */
.paper{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -9; /* Ensure it's behind all other content */
 overflow: hidden;
}


.paper {
 width: 100%;
 height: 100%;
 object-fit: cover; /* Prevent stretching */
}

.slant-arrow
.slant-arrow
{
  box-sizing: border-box;}
.slant-arrow
 {
  width: 25.06rem;
  height: 11.66375rem;
  background: transparent;
  position: absolute;
  overflow: hidden;
  top: 35rem;
  left: 50rem
}
.are-you-serious-regular {
	font-family: "Are You Serious", serif;
	font-weight: 400;
	font-style: normal;
 }
 .text {
	color: #000;
	text-align: left;
	font-family: 'Are You Serious', sans-serif;
	font-size: 4rem;
	font-weight: 400;
	position: absolute;
	left: 16.1875rem;
	top: 7.1875rem;
  }



 .group-25,
 .group-25 * {
	box-sizing: border-box;
 }
 .group-25 {
	position: relative;
 }
 .meetkit {
	color: #000000;
	text-align: right;
	font-family: "AreYouSerious-Regular", sans-serif;
	font-size: 4rem;
	font-weight: 400;
	position: absolute;
	left: 0rem;
	top: 0rem;
 }
 .meetkit2 {
	color: #000000;
	text-align: right;
	font-family: "AreYouSerious-Regular", sans-serif;
	font-size: 6rem;
	font-weight: 400;
	position: absolute;
	left: 0.8125rem;
	top: 4.375rem;
 }
 .kitcaption {
	color: #000000;
	text-align: right;
	font-family: "AnnieUseYourTelescope-Regular", sans-serif;
	font-size: 3rem;
	font-weight: 400;
	position: absolute;
	left: 38.0625rem;
	top: 12.875rem;
	width: 20.0625rem;
	height: 13.3125rem;
 }
