/* General Reset for Box Sizing */
*,
*::before,
*::after {
 box-sizing: border-box;
}


/* Background Image Styling */
.paper{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -9; /* Ensure it's behind all other content */
 overflow: hidden;
}


.paper {
 width: 100%;
 height: 100%;
 object-fit: cover; /* Prevent stretching */
}

.slant-arrow
.slant-arrow
{
  box-sizing: border-box;}
.slant-arrow
 {
  width: 25.06rem;
  height: 11.66375rem;
  background: transparent;
  position: absolute;
  overflow: hidden;
  top: 35rem;
  left: 50rem
}

.meetkit,
.meetkit * {
  box-sizing: border-box;
}
.meetkit {
  height: 26.1875rem;
  position: relative;
}
.meetkit2 {
	font-family: "Are You Serious", serif;
	font-weight: 400;
	font-style: normal;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.meetkit3 {
	font-family: "Are You Serious", serif;
	font-weight: 400;
	font-style: normal;
  position: absolute;
  left: 0.8125rem;
  top: 4.375rem;
}
.kitcaption  {
	font-family: "Are You Serious", serif;
	font-weight: 400;
	font-style: normal;
  left: 38.0625rem;
  top: 12.875rem;
  width: 20.0625rem;
  height: 13.3125rem;
}
