/* General Reset for Box Sizing */
*,
*::before,
*::after {
 box-sizing: border-box;
}


/* Background Image Styling */
.paper{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -9; /* Ensure it's behind all other content */
 overflow: hidden;
}


.paper {
 width: 100%;
 height: 100%;
 object-fit: cover; /* Prevent stretching */
}

.slantarrow
.slantarrow
{
  box-sizing: border-box;}
.slantarrow
 {
  width: 25.06rem;
  height: 11.66375rem;
  position: absolute;
  overflow: hidden;
  top: 35rem;
  left: 50rem
}

.text {
	color: #000;
	text-align: left;
	font-family: 'Are You Serious', sans-serif;
	font-size: 4rem;
	font-weight: 400;
	position: absolute;
	left: 16.1875rem;
	top: 7.1875rem;
  }
  .kit,
  .kit * {
	box-sizing: border-box;
  }
  .kit {
	height: 39rem;
	position: absolute;
	object-fit: cover;
	background: transparent;
	top: 7rem;
	left:20rem
  }
/* Vector Image Styling */


