
.welcome-to-feed-the-kittens,
.welcome-to-feed-the-kittens  {
  box-sizing: border-box;
}
.welcome-to-feed-the-kittens {
  color: #000000;
  text-align: right;
  font-family: "AreYouSerious-Regular", sans-serif;
  font-size: 8rem;
  font-weight: 400;
  position: relative;
  height: 18.4375rem;
}


.click-the-button-to-start,
.click-the-button-to-start * {
  box-sizing: border-box;
}
.click-the-button-to-start {
  color: #000000;
  text-align: left;
  font-family: "AreYouSerious-Regular", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  position: relative;
}

.screenshot-2024-10-23-at-7-01-55-pm-4,
.screenshot-2024-10-23-at-7-01-55-pm-4 * {
  box-sizing: border-box;
}
.screenshot-2024-10-23-at-7-01-55-pm-4 {
  height: 27.5625rem;
  position: relative;
  object-fit: cover;
}
.kit-no-background-1,
.kit-no-background-1 * {
  box-sizing: border-box;
}
.kit-no-background-1 {
  height: 40.125rem;
  position: relative;
  object-fit: cover;
}

